
h1, h2, h3 {
  width: 100%;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
}

body, html {
  padding: 0px;
  margin: 0px;
}

#menu {
  width: 100%;
  text-align: center;
} 

#menu .entry {
  padding: 0.3em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 0.3em;
  color: white;
  background-color: black;
  margin: 0.1em;
  display: block;
  text-decoration: none;
}

#menu .entry.hidden {
  display: none;
}

.stars {
  color: darkgoldenrod;
}

p {
  padding-left: 1em;
  padding-right: 1em;
}

.play {
  display: none;
}

.play.level-1 {
  display: inline;
}
