
.languages {
  width: 100%;
  text-align: center;
}

.flag {
  background-color: black;
  border-color: black;
  border-radius: 0.6em;
  border-style: solid;
  border-width: 0.3em;
  padding: 0.3em;
  margin: 0.3em;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.flag.chosen {
  background-color: white;
  color: black;
}

.flag img {
  border-radius: 0.3em;
  height: 3em;
  margin-bottom: 0.3em;
}
