
#pictures {
  text-align: center;
  width: 100%;
}

#pictures img {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

#pictures .visible {
  display: inline-block;
}


#answers {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0.6em;
}

.answer {
  font-size: 2em;
  padding: 0.6em;
  border-radius: 0.3em;
  background-color: black;
  color: white;
}

.answer.deactivated {
  background-color: gray;
}

#stars {
  width: 100%;
  display: block;
  text-align: center;
}

#stars .star {
  display: inline-block;
  font-size: 3em;
  color: darkgoldenrod;
}

#stars .star.center {
  font-size: 4em;
}

.hidden, #answers.hidden, #stars.hidden, .entry.hidden {
  display: none;
}